{% extends 'base.html '%}
{% block head %}
<title>abour page</title>
{% endblock%}

{%block body%}
<mainclass="container mx-auto my-4 bg-light border "style="width:60%;">
<h1class="p-2 border-bottom border-2">About page</h1>
<p>
    this flask app is developed for basic understandign of python-flask
</p>
<p>
    click <strong><ahref="/signup"class=" btnbtn-outline-success py-1">signup</a></strong> and <strong><ahref="/signin"class=" btnbtn-outline-success py-1">signin</a></strong> in the nav bar

</p>
</h1></main>
{% endblock%}
